.container {
  width: 1200px;
}
/* 
.header;;
 */
.header {
  display: flex;
  justify-content: center;
}
.header nav {
  display: flex;
  line-height: 100px;
  color: #666;
}
.header nav h1 {
  justify-content: center;
  width: 134px;
}
.header nav > ul {
  display: flex;
  flex: 1;
  white-space: nowrap;
}
.header .nav_left a {
  position: relative;
  padding: 37.5px 20px;
}
.header .nav_left li:hover a {
  color: #669;
  font-weight: 500;
}
.header .nav_left a::after {
  content: "";
  position: absolute;
  inset: auto auto 0px 50%;
  display: none;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  background: #669;
}
.header .nav_left a:hover::after {
  display: block;
}
.header .nav_left {
  font-size: 17px;
}
.header .nav_right {
  gap: 40px;
  justify-content: flex-end;
  font-size: 15px;
}
.header .nav_right input {
  display: none;
  border: none;
  border-bottom: 1px solid #ddd;
  transform: translateX(30px);
}
.header .nav_right input.on {
  display: block;
}
.header .nav_right i {
  font-size: 24px;
  vertical-align: -22%;
  cursor: pointer;
}
.header .nav_right a:hover {
  color: #669;
}
/* 
.header;;
 */

/* 
.main_visual;;
 */
.main_visual {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  text-align: center;
  background: url(../img/main.png) no-repeat top center/cover;
}
.main_visual h2 {
  padding-top: 25%;
  margin-bottom: 28%;
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 3px #000;
}
/* 
.main_visual;;
 */

/* 
.content01;;
 */
.content01 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px;
}
.content01 .container {
  position: relative;
}
.content01 .container::before {
  content: "";
  position: absolute;
  inset: -100px auto auto 0;
  width: 4px;
  height: 195px;
  background: #669;
}
.content01 h3 {
  font-size: 60px;
  font-weight: 500;
  padding-bottom: 15px;
}
.content01 p {
  font-size: 21px;
  font-weight: 300;
  letter-spacing: -0.025em;
}
.content01 .title {
  margin-bottom: 100px;
}
.content01 ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.content01 ul li {
  flex: 1;
}
.content01 ul i {
  font-size: 120px;
  margin-bottom: 20px;
}
.content01 ul p {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 19px;
}
.content01 ul p:last-child {
  font-size: 17px;
  font-weight: 300;
}

.content01 li:nth-last-child(1),
.content01 li:nth-last-child(2),
.content01 li:nth-last-child(3) {
  opacity: 0;
  transition: 0.9s;
}
.content01 li.on {
  opacity: 1;
}

.content01 li.on:nth-child(2) {
  transition-delay: 0.7s;
}
.content01 li.on:nth-child(3) {
  transition-delay: 1.4s;
}
/* 
.content01;;
 */

/* 
 .content02;;
 */
.content02 {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  font-weight: 500;
  background: url(../img/content02_bg.png) no-repeat center center/cover;
}
.content02 h3 {
  font-size: 60px;
  padding-bottom: 60px;
}
.content02 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content02 .container .inner {
  width: 600px;
}
.content02 .container .image {
  width: 600px;
}
.content02 .content_box {
  display: flex;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.content02 .content_box:hover {
  box-shadow: 0 0 3px #000;
}
.content02 .content_box01,
.content02 .content_box03 {
  transform: translateX(-300px);
}
.content02 .content_box02,
.content02 .content_box04 {
  transform: translateX(300px);
}
.content02 .content_box01.on,
.content02 .content_box02.on,
.content02 .content_box03.on,
.content02 .content_box04.on {
  transform: translateX(0);
  opacity: 1;
}

.content02 li ~ li {
  padding-top: 30px;
}
.content02 .inner {
  text-align: center;
  border: 1px solid #ddd;
  background: #fff;
  padding-top: 80px;
}
.content02 .inner strong {
  display: block;
  font-size: 42px;
  font-weight: 500;
  padding-bottom: 5px;
}
.content02 .inner p {
  font-size: 17px;
  font-weight: 100;
  color: #999;
  letter-spacing: 0.1em;
  padding-bottom: 30px;
}
.content02 .inner p:last-child {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  letter-spacing: -0.025em;
}
/* 
.content02;;
 */

/* 
.content03;;
 */
.content03 {
  background: url(../img/section03.png) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  text-align: center;
  color: #fff;
}

.content03 .inner {
  padding: 199.5px 0;
}

.content03 .inner h3 {
  font-size: 90px;
  padding-bottom: 30px;
  font-weight: 700;
  text-transform: capitalize;
  transition: 1s;
}
.content03 .inner strong {
  font-size: 27px;
}
.content03 .inner p {
  padding-top: 20px;
  font-size: 17px;
  font-weight: 100;
}
/* 
.content03;;
 */

/* 
.content04;;
 */
.content04 {
  padding-bottom: 145px;
}
.content04 .container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 10px;
}
.content04 .slider {
  position: relative;
}
.content04 h3 {
  font-size: 60px;
  font-weight: 500;
  padding-bottom: 30px;
  text-transform: capitalize;
}
.content04 p {
  font-size: 17px;
  font-weight: 300;
}
.content04 .inner {
  position: relative;
  border: 1px solid #ddd;
  padding: 60px 30px 30px 30px;
}

.content04 .inner strong {
  display: block;
  font-size: 30px;
  padding-bottom: 10px;
}
.content04 .inner p {
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 65%;
}
.content04 .inner a {
  font-size: 13px;
  padding: 0 20px 3px 20px;
  border: 1px solid #ddd;
  transition: 0.5s;
}
.content04 .inner a:hover {
  background: rgb(69, 69, 69);
  color: rgb(232, 232, 232);
}
.content04 .slider_box {
  display: flex;
  margin: 70px 50px;
}
.content04 .slider_box > figure,
.content04 .slider_box > .inner {
  width: 50%;
}
.content04 .slick-center {
  transform: scale(1.25);
  transition: 0.5s;
}
.content04 .slick-arrow {
  position: absolute;
  bottom: -40px;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: none;
  background: none;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-left: 1px solid rgba(0, 0, 0, 0.6);
}
.content04 .slick-prev {
  left: calc(50% - 30px);
  transform: translateX(-50%) rotate(-45deg);
}
.content04 .slick-next {
  left: calc(50% + 30px);
  transform: translateX(-50%) rotate(135deg);
}
.content04 .slick-prev:hover,
.content04 .slick-next:hover {
  border-top: 2px solid rgba(0, 0, 0, 0.6);
  border-left: 2px solid rgba(0, 0, 0, 0.6);
}
/* 
.content04;;
 */

/* 
.content05;;
 */
.content05 {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
/* 
.content05;;
 */

/* 
.footer;;
 */
.footer {
  background: black;
  padding: 40px 0;
}
.footer .container {
  display: flex;
  width: 1900px;
  margin: 0 auto;
  color: #fff;
  opacity: 0.7;
}
.footer .footer_left {
  padding: 0 108px;
}
.footer .footer_center {
  width: 1200px;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 300;
}

.footer .footer_top {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.footer .footer_top dd {
  position: relative;
}
.footer .footer_top dd ~ dd::after {
  content: "";
  position: absolute;
  top: 20%;
  left: -15px;
  width: 1px;
  height: 75%;
  background: #ddd;
}
.footer .footer_top_right {
  display: flex;
}
.footer .footer_top_right .sns {
  font-size: 25px;
  padding-right: 5px;
}
.footer .footer_top_right .prugio {
  padding: 4px 10px 0px 10px;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.footer .footer_top_right .prugio i {
  padding-left: 10px;
}
.footer .footer_bottom address {
  padding-bottom: 10px;
}
.footer .footer_bottom {
  margin-bottom: 40px;
}
.footer .footer_center dl {
  position: relative;
  display: flex;
  gap: 30px;
  text-transform: capitalize;
}
/* 
.footer;;
 */

.toTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  padding: 5px;
  color: rgba(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
}
