.container {
  width: 1200px;
}
/* 
.header;;
 */
.header {
  display: flex;
  justify-content: center;
}
.header nav {
  display: flex;
  line-height: 100px;
  color: #666;
}
.header nav h1 {
  justify-content: center;
  width: 134px;
}
.header nav > ul {
  display: flex;
  flex: 1;
  white-space: nowrap;
}
.header .nav_left a {
  position: relative;
  padding: 37.5px 20px;
}
.header .nav_left li:hover a {
  color: #669;
  font-weight: 500;
}
.header .nav_left a::after {
  content: "";
  position: absolute;
  inset: auto auto 0px 50%;
  display: none;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  background: #669;
  transition: 0.3s;
}
.header .nav_left a:hover::after {
  display: block;
}
.header .nav_left {
  font-size: 17px;
}
.header .nav_right {
  gap: 40px;
  justify-content: flex-end;
  font-size: 15px;
}
.header .nav_right i {
  font-size: 24px;
  vertical-align: -22%;
  cursor: pointer;
}
.header .nav_right a:hover {
  color: #669;
}
/* 
.header;;
 */

/* 
.main_visual;;
 */
.main_visual {
  display: flex;
  justify-content: center;
  text-align: center;
  background: url(../img/main.png) no-repeat top center/cover;
}
.main_visual h2 {
  padding-top: 300px;
  margin-bottom: 330px;
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 3px #000;
}
/* 
.main_visual;;
 */

/* 
.main_content01;;
 */
.main_content01 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 100px 0;
}
.main_content01 .container {
  position: relative;
}
.main_content01 .container::before {
  content: "";
  position: absolute;
  inset: -100px auto auto 0;
  width: 4px;
  height: 195px;
  background: #669;
}
.main_content01 h3 {
  font-size: 60px;
  font-weight: 500;
  padding-bottom: 15px;
}
.main_content01 p {
  font-size: 21px;
  font-weight: 300;
  letter-spacing: -0.025em;
}
.main_content01 .content01_title {
  margin-bottom: 100px;
}
.main_content01 ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.main_content01 ul li {
  flex: 1;
}
.main_content01 ul i {
  font-size: 120px;
  margin-bottom: 20px;
}
.main_content01 ul p {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 19px;
}
.main_content01 ul p:last-child {
  font-size: 17px;
  font-weight: 300;
}
/* 
.main_content01;;
 */

/* 
 .main_content02;;
 */
.main_content02 {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  font-weight: 500;
  background: url(../img/content02_bg.png) no-repeat center center/cover;
}
.main_content02 h3 {
  font-size: 60px;
  padding-bottom: 60px;
}
.main_content02 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_content02 .container .inner {
  width: 600px;
}
.main_content02 .container .image {
  width: 600px;
}
.main_content02 .content_box {
  display: flex;
  transition: 0.5s ease-in-out;
}
.main_content02 .content_box:hover {
  box-shadow: 0 0 3px #000;
}
.main_content02 li ~ li {
  padding-top: 30px;
}
.main_content02 .content_box .inner {
  text-align: center;
  border: 1px solid #ddd;
  background: #fff;
  padding-top: 80px;
}
.main_content02 .inner strong {
  display: block;
  font-size: 42px;
  font-weight: 500;
  padding-bottom: 5px;
}
.main_content02 .inner p {
  font-size: 17px;
  font-weight: 100;
  color: #999;
  letter-spacing: 0.1em;
  padding-bottom: 30px;
}
.main_content02 .inner p:last-child {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  letter-spacing: -0.025em;
}
/* 
.main_content02;;
 */

/* 
.main_content03;;
 */
.main_content03 {
  background: url(../img/section03.png) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  text-align: center;
  color: #fff;
}

.main_content03 .inner {
  padding: 199.5px 0;
}

.main_content03 .inner h3 {
  font-size: 90px;
  padding-bottom: 30px;
  font-weight: 700;
  text-transform: capitalize;
  transition: 1s;
}
.main_content03 .inner:hover h3 {
  color: rgb(160, 160, 255);
}
.main_content03 .inner strong {
  font-size: 27px;
}
.main_content03 .inner p {
  padding-top: 20px;
  font-size: 17px;
  font-weight: 100;
}
/* 
.main_content03;;
 */

/* 
.main_content04;;
 */
.main_content04 {
  padding-bottom: 100px;
}
.main_content04 .container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 40px;
}

.main_content04 h3 {
  text-indent: -5px;
  padding-bottom: 10px;
  font-size: 60px;
  font-weight: 500;
  text-transform: capitalize;
}
.main_content04 p {
  font-size: 17px;
  font-weight: 300;
}
.main_content04 .inner {
  position: relative;
  border: 1px solid #ddd;
  padding: 60px 30px 30px 30px;
}

.main_content04 .inner strong {
  display: block;
  font-size: 30px;
  padding-bottom: 10px;
}
.main_content04 .inner p {
  font-size: 15px;
  font-weight: 300;
}
.main_content04 .inner a {
  position: absolute;
  inset: auto auto 30px 30px;
  padding: 3px 25px 5px 25px;
  border: 1px solid #ddd;
}
.main_content04 .slider {
  padding: 0 100px;
}
.main_content04 .slider_box {
  display: flex;
  padding: 0 50px;
}
.main_content04 .slider_box > div {
  width: 50%;
}

/* 
.main_content04;;
 */

/* 
.main_content05;;
 */
.main_content05 {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
/* 
.main_content05;;
 */

/* 
.footer;;
 */
.footer {
  background: black;
  padding: 40px 0;
}
.footer .container {
  display: flex;
  width: 1900px;
  margin: 0 auto;
  color: #fff;
  opacity: 0.7;
}
.footer .footer_left img {
  padding: 0 108px;
}
.footer .footer_center {
  width: 1200px;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
}

.footer .footer_top {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.footer .footer_top_right {
  position: absolute;
  inset: 0px 0px auto auto;
  display: flex;
  text-align: center;
}
.footer .footer_top_right .sns {
  font-size: 30px;
  padding-bottom: 5px;
  padding-right: 10px;
}
.footer .footer_top_right .prugio i {
  padding-left: 20px;
}
.footer .footer_top_right .prugio {
  padding: 7px 11px 3px 15px;
  font-size: 17px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.footer .footer_bottom address {
  padding-bottom: 10px;
}
.footer .footer_bottom {
  margin-bottom: 40px;
}
.footer .footer_center dl {
  position: relative;
  display: flex;
  gap: 30px;
  text-transform: capitalize;
}
/* 
.footer;;
 */

.toTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  padding: 5px;
  color: rgba(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
}
